/* body {
  background-color: gray;
} */
/*  */
#wrapper {
  width: 90%;
  margin: auto;
}

/*  */
a {
  text-decoration: none;
}
#header {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}
#navBar ul {
  display: flex;
  text-align: left;
  padding-right: 5px;
}
#navBar ul li {
  list-style: none;
  padding: 10px;
  text-align: center;
  font-size: large;
}
#login ul {
  display: flex;
  text-align: right;
  padding-right: 5px;
}
#login ul li {
  list-style: none;
  padding: 10px;
  text-align: center;
  font-size: large;
  text-decoration: none;
}
/*  text area */
#addNewTask {
  width: 40%;
  text-align: left;
  margin: auto;
  padding-top: 2px;
  display: block;
}

/* setting area */
.setArea {
  width: 60%;
  text-align: left;
  margin: auto;
}
.colOne {
  color: green;
  padding: 5px;
  background-color: black;
}
.colTwo {
  color: red;
  padding: 5px;
  background-color: white;
}
.colThree {
  color: yellow;
  padding: 5px;
  background-color: red;
}
.resetColor {
  color: gray;
  background-color: green;
}
/* table  */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
